@import '@fontsource/poppins'; // Importa la fuente Poppins
@import './animation.module.scss'; // Importa las animaciones

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out; /* Añade una transición suave para el cambio de posición */
}

.show {
  top: 0; /* Muestra la barra de navegación en la parte superior de la ventana */
}

.hide {
  top: -100px; /* Oculta la barra de navegación arriba de la ventana */
}

.initial {
  width: 100vw;
  /* Ancho del viewport */
  height: 100vh;
  /* Alto del viewport */
  background-color: green;
  margin-top: 90px;
}

.fullscreen {
  width: 100vw;
  /* Ancho del viewport */
  height: 100vh;
  /* Alto del viewport */
  background-color: red;
  margin-top: 90px;

  .skill{
    background-color: purple !important;
  }
}


.menu {
  display: flex !important;
  justify-content: flex-end;
  /* Alinear los elementos a la derecha */
  align-items: center;
  height: fit-content;
  padding: 2%;
  background-color: black;

  a {
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
  }

  a:hover {
    color: red;
    border-bottom: 1px solid red;
  }



  @media (max-width: 320px) {
    .menuButton {
      display: block;
    }

    a {
      visibility: hidden;
    }
  }

  @media (min-width:320px) {
    .menuButton {
      display: block;
    }

    a {
      visibility: hidden;
    }
  }

  @media (min-width:720px) {
    .menuButton {
      display: block;

    }

    a {
      visibility: hidden;
      font-size: large;
    }
  }

  @media (min-width:1234px) {
    .menuButton {
      display: none;

    }

    a {
      visibility: visible;
      font-size: 20px;
    }
  }

  @media (min-width:1948px) {
    .menuButton {
      display: none;

    }

    a {
      font-size: 25px;
    }
  }
}

.menuHamburgerItem {
  display: none;
  text-align: center;
  min-width: 200px;
  background: #c8c8c8;
  position: absolute;
  left: 0;
  right: 0;
  overflow: visible;

  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

  }
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
}

.animated-text:hover {
  animation: typing 3s steps(40) infinite; // Ajusta la duración y el número de pasos según sea necesario
}



/* Agrega tus estilos a continuación */
body {
  font-family: 'Poppins', sans-serif;
  /* Otros estilos */
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; // Inicialmente, el menú está oculto
  pointer-events: none; // Oculta los clics en el menú
}

.menuOpen {
  opacity: 1; // Muestra el menú con opacidad completa
  pointer-events: auto; // Habilita los clics en el menú
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bolder;
  font-size: x-large;

  a {
    padding: 10px;
  }

  a:hover {
    color: red;
    border-bottom: 1px solid red;
  }
}

.hidden {
  display: none;
}

.nothidden {
  display: block;
}